@import '{}/node_modules/@angular/material/core/theming/all-theme';

@include mat-core();
$primary: mat-palette($mat-blue-grey, 800);
$accent:  mat-palette($mat-light-green, 600, A100, A400);
$warn:    mat-palette($mat-red, 600);
$theme: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

body, html, app{
  margin:0;
  width: 100%;
  height: 100%;
}