<md-sidenav-container [class.m2app-dark]="isDarkTheme">
    <!-- Navigation Component here -->
        <md-sidenav mode="side" class="main-sidenav" #sidenav>
            <sidenav-content></sidenav-content>
        </md-sidenav>
        <md-toolbar color="primary">
            <button class="app-icon-button" (click)="sidenav.toggle()">
                <i class="material-icons app-toolbar-menu">menu</i>
            </button>
            <toolbar-content (notifyDarkTheme)='onDarkThemeNotify($event)'></toolbar-content>
        </md-toolbar>
    <!--/ Navigation Component here-->

    <!-- Main-Page here -->
        <router-outlet></router-outlet>
    <!--/ Main-Page here-->
    <p>jkhdfgkhsdkfghs</p>

    <!-- Footer here -->
        <main-footer></main-footer>
    <!--/ Footer here-->
</md-sidenav-container>