<md-sidenav-container [class.m2app-dark]="isDarkTheme">
    <!-- Navigation Component here -->
    <header>
        <md-sidenav mode="side" class="main-sidenav" #sidenav>
            <sidenav-content></sidenav-content>
        </md-sidenav>
        <md-toolbar color="primary">
            <button class="app-icon-button" (click)="sidenav.toggle()">
                <i class="material-icons app-toolbar-menu">menu</i>
            </button>
            <toolbar-content (notifyDarkTheme)='onDarkThemeNotify($event)'></toolbar-content>
        </md-toolbar>
    </header>
    <!--/ Navigation Component here-->
    
    <div class="page-content">
        <!-- Main-Page here -->
        <main>
            <router-outlet></router-outlet>
        </main>
        <!--/ Main-Page here-->
        <p>jkhdfgkhsdkfghs</p>
        <!-- Footer here -->
        <footer>
            <main-footer></main-footer>
        </footer>
        <!--/ Footer here-->
    </div>
</md-sidenav-container>