md-sidenav-container, router-outlet{
  margin: 0;
  width: 100%;
  height: 100%;
}

md-sidenav-container.page-content{
  display: block;
  flex-direction: column;
  position: relative;
  overflow: auto;
}

.page-content footer {
     height: 271px;
}

toolbar-content{
  align-items:center;
  box-sizing:border-box;
  display:flex;
  flex-direction:row;
  flex: 1 1 auto;
}

md-sidenav-container.m2app-dark {
  color: white;
  background: black;
}

.main-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}