.side-nav-content{
    box-sizing: border-box;
    align-content: center;
}

.h3-sections{
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 16px;
    background-color: darkgrey;
    background-size: auto;
    color: black;
}

.profile-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}