
<div class="side-nav-content">
    <!-- Profile -->
        <img class="profile-image" src="https://cdn4.iconfinder.com/data/icons/user-avatar-flat-icons/512/User_Avatar-29-512.png"/>
        <br>
        <h3>Dr. Nicolas DUPONT</h3>
        <br>
    <!--/ Profile -->
    <!-- Activity -->
        <nav>
            <h3 class="h3-sections">Activity</h3>
            <md-nav-list>
                <a md-list-item href="#"><md-icon md-list-icon>perm_contact_calendar</md-icon>My Calendar</a>
                <a md-list-item href="#"><md-icon md-list-icon>check_box</md-icon>Pending Validations - [3]</a>
            </md-list>
        </nav>
    <!--/ Activity -->
    <!-- Params & Confidentiality -->
        <nav>
            <h3 class="h3-sections">Parameters</h3>
            <md-nav-list>
                <a md-list-item href="#"><md-icon md-list-icon>settings</md-icon> Settings</a>
                <a md-list-item href="#"><md-icon md-list-icon>help</md-icon> Help</a>
                <a md-list-item href="#"><md-icon md-list-icon>perm_phone_msg</md-icon> Support</a>
            </md-nav-list>
        </nav>
    <!-- Activity -->
</div>