<md-grid-list cols="4" rowHeight="200px">
    <!-- Company Infos -->
        <md-grid-tile colspan="1" rowspan="1">
            <md-nav-list>
                <h2 md-subheader>MeteorAngula2</h2>
                <a md-list-item [routerLink]="['/about-us']">About Us</a>
                <a md-list-item [routerLink]="['/our-team']">Our Team</a>
                <a md-list-item [routerLink]="['/help']">Help</a> 
            </md-nav-list>
        </md-grid-tile>
    <!--/ Company Infos -->

    <!-- Discover -->
        <md-grid-tile colspan="1" rowspan="1">    
            <md-nav-list>
                <h2 md-subheader>Discover</h2>
                <a md-list-item [routerLink]="['/route-link']">route-text</a>
                <a md-list-item [routerLink]="['/route-link']">route-text</a>
                <a md-list-item [routerLink]="['/route-link']">route-text</a>
            </md-nav-list>
        </md-grid-tile>
    <!--/ Discover -->

    <!-- Privacy -->
        <md-grid-tile colspan="1" rowspan="1">    
            <md-nav-list>
                <h2 md-subheader>Privay</h2>
                <a md-list-item [routerLink]="['/personal-data']">Personal data</a>
                <a md-list-item [routerLink]="['/security']">Security</a>
                <a md-list-item [routerLink]="['/usage-conditions']">Usage Conditions</a>
            </md-nav-list>
        </md-grid-tile>
    <!--/ Privacy -->

    <!-- NewsLetter & Social -->
        <md-grid-tile colspan="1" rowspan="1">    
            <md-nav-list>
                <h2 md-subheader>Privay</h2>
                <a md-list-item [routerLink]="['/personal-data']">Personal data</a>
                <a md-list-item [routerLink]="['/security']">Security</a>
                <a md-list-item [routerLink]="['/usage-conditions']">Usage Conditions</a>
            </md-nav-list>
        </md-grid-tile>
    <!--/ NewsLetter & Social -->
</md-grid-list>
<md-divider></md-divider>
<md-grid-list cols="4" rowHeight="48px">
    <md-grid-tile colspan="4" rowspan="1">
        © 2016 MeteorAngula2 WebApp
    </md-grid-tile>
</md-grid-list>