
.app-toolbar-filler {
  flex: 1 1 auto;
}

md-sidenav-layout.m2app-dark{
  background: black;
}

.main-sidenav {
  padding: 10px;
  min-width: 100px;
}
.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}