<md-card class="card-class">
    <md-card-header class="card-header-class">
        <md-card-title>{{rec.recordCategory}}</md-card-title>
        <md-card-subtitle>
            <div>{{rec.recordSubCategory}}</div>
            <div>{{rec.recordDateTime}}</div>
        </md-card-subtitle>
    </md-card-header>
    <md-card-content class="card-content-class">
        <div>{{rec.recordPraticient}}D</div>
        <div>{{rec.recordDiagnosis}}</div>
        <div>{{rec.recordIsRefunded}}</div>
    </md-card-content>
    <md-card-actions class="card-action-class">
        <a md-button-raised [routerLink]="['/record-details', rec._id]">Details</a>
    </md-card-actions>
</md-card>