Date = automatique a ajrd
Doctor = automatique a doc ouvrant le profil
champs sympthomes
champs diagnotic
list de medicaments
   - nom, dosage, period de traitement en jours
bouton Valdidation

<form>
    <md-input-container>
        <input mdInput type="datetime" value="getNowDateTime()" placeholder="Time of prescription" disabled>
    </md-input-container>
    <md-input-container>
        <input mdInput value="getDoctorName()" placeholder="Doctor" disabled>
    </md-input-container>
    <md-input-container>
        <textarea placeholder="Sympthomes">
    </md-input-container>
    <md-input-container>
        <textarea placeholder="Diagnosis">
    </md-input-container>
    <md-input-container>
        
    </md-input-container>
    <md-input-container>
        
    </md-input-container>
    <md-input-container>
        
    </md-input-container>
</form>
